.container {
    z-index: 1000;
}

.dropdown {
    background-color: rgb(0, 122, 204);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}