@import "src/variables.scss";

.background {
    background-color: var(--chakra-colors-blue-400);
    font-family: $ui-font;
    color: $font-color;
    font-size: $font-size;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}