@import "src/variables.scss";

.rightpanel {
    position: fixed;
    height: 100%;
    width: 25%;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 19fr;
    row-gap: 10px;
}