@import "src/variables.scss";

.Editor {
    position: fixed;
    height: 100%;
    width: 100%;
}

.Resizer {
    position: absolute;
    border-radius: 0px;
    top: 0;
    height: 100%;
    background-color: transparent;
}

.ResizerButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Menu {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: $bg-color;
    padding: 10px;
}

.NodeData {
    flex: 1 1 auto;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}