.card {
    position: fixed;
    width: 30%;
    height: 90%;
    right: 5%;
    top: 5%;
}

.header {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.collapse {
    background-color: rgb(75, 75, 75);
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(80, 80, 80, 0.8);
        border-radius: 5px;
    }
}