@import "src/variables.scss";

.card {
    background-color: $fg-color;
    position: fixed;
    width: 30%;
    height: calc(100% - 40px);
    right: 20px;
    top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.gridItem {
    display: flex;
    align-items: center;
}

.collapse {
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(80, 80, 80, 0.8);
        border-radius: 5px;
    }
}