@import "src/variables.scss";

.Node {
    fill: $fg-color;
    rx: 9.8;
    ry: 9.8;
}

.NodeBorder {
    fill: $node-border-color;
    x: 0;
    y: 0;
    rx: 10;
    ry: 10;
}

.Connector {
    r: 7.5;
}

.ContentText {
    fill: $font-color;
    font-family: $node-font;
    font-size: $font-size;
}