@import "src/variables.scss";

.Stage {
    position: fixed;
    background-color: $bg-color;
    margin: 0;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.control {
    position: fixed;
    left: 30px;
    bottom: 30px;
    width: 50px;
    height: 100px;
    border-radius: 6px;
}
