@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.Node {
    fill: rgb(58, 58, 58);
    rx: 10;
    ry: 10;
}

.ContentText {
    fill: white;
    font-family: 'Roboto';
    font-size: 10;
}