@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.Node {
    fill: rgb(58, 58, 58);
    rx: 10;
    ry: 10;
}

%Connector {
    background-color: darkcyan;
    margin: 5px;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    font-size: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.Connectorin {
    @extend %Connector;
    left: 10px;
}

.Connectorout {
    @extend %Connector;
    right: 10px;
}

.ConnectorContainer {
    height: 100%;
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}